:root {
  --color-one: #2F4858;
  --color-two: #235E70;
  --color-three: #007582;
  --color-four: #008C8B;
  --color-five: #00A28B;
  --color-six: #42B883;

  --color-text: #E7EDE2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-one);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-six);
}

a + a {
  margin-left: 1rem;
}

a.router-link-active {
  font-weight: 600;
  text-decoration: none;
}

/* Shared Components */
.blog-view--author {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--color-text);
  border-radius: 1rem;
  color: var(--color-one);
  padding: 1rem;
  margin: 1rem 0;
  width: 300px;
}

.blog-view--author span {
  width: 110px;
}

.blog-view--author img {
  border-radius: 200px;
}

.blog-view--content {
  background-color: var(--color-two);
  margin: 1rem 0;
  border-radius: 1rem;
}

.blog-view--content--item {
  display: flex;
  justify-content: space-evenly;
  padding: 1.75rem;
}

.blog-view--content--item:nth-child(2) {
  background-color: var(--color-three);
}

.blog-view--content--item .item--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}
